<div id="dev_ref" class="row tab-pane">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>About MAO Marketplace</h3>
            <p>
MAO Marketplace is a convenient frontend to the most exciting federated research infrastructures on gaining insights into time-series data. Researchers make use of MAO to learn more about software technology, finance, smart cities and other relevant domains in a reproducible way, following best practices in data science and distributed systems operation.
<!-- It is mostly decentralised - any accounts are outsourced to XMPP servers (those capable of XEP0049/Private Namespaces and XEP0060/PubSub, such as jabber.root.cz / jabb.im), and all functions are stored in a Git repository. No vendor lock-in! -->
            </p>
            <p>
The central MAO orchestrator and many of its tools originate from the original MAO project -- <a href="https://mao-mao-research.github.io/">Microservice Artefact Observatory</a>. However, the design of the infrastructure permits other tools and use cases, and this marketplace serves as overview.
If you want to get your own federation or tool listed, do not hesitate to contact us.
            </p>
        </div>
    </div>
</div>
